html {
  margin: 0;
  padding: 0;
  /* width: 100vw;
  height: 100vh; */
  scroll-behavior: smooth;
}

/* body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 140px;
  background-color: royalblue;
  color: aliceblue;
} */


main {
  padding-top: 15%;
  padding-left: 30%;
  padding-right: 30%;
  background-image: linear-gradient(#26468b, #365ac7);
  color: #ffffff;
  font-family: 'Trebuchet MS';
}


.nav {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px -30px 50px 25px rgba(0,0,0,0.75);
  color: #ffffff;
  font-weight: bold;
  font-size: larger;
  font-family: 'Trebuchet MS';
}

a:link{
  color:#ffffff;
}

a:visited{
  color:#ffffff;
}

a:hover{
  color:#ffffff;
}

.home{
  width: 10vw;
  height: 10vw;
  min-width: 10vw;
}

.photo{
  width: 10vw;
  min-width: 50px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.6);
}

img {

}

.clickable{
  cursor: pointer;
}

.clickable.hover{
  background-color: #555;
}

.container {
  margin-top: 10px;
}

.inbetween{
  background-color: rgba(0,0,0,0.25);
}

#home{
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  text-shadow: 2px 2px #00000060;
  font-size: larger;
}

#home h2 {
  font-weight: bold;
}

#education{
  margin-top: 25vw;
  margin-left: 10vw;
  margin-right: 10vw;
  text-shadow: 2px 2px #00000060;
  font-size: larger;
}

#education h2 {
  text-align: center;
  font-weight: bold;
}

.slogo{
  width: 1.5vw;
}

hr{
  border-color: white;
}

#career{
  margin-top: 25vw;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  text-shadow: 2px 2px #00000060;
  font-size: larger;
}

#career h2 {
  font-weight: bold;
}

#projects{
  margin-top: 25vw;
  /* margin-bottom: 25vw; */
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  text-shadow: 2px 2px #00000060;
  font-size: larger;
}

#projects h2 {
  font-weight: bold;
}

#projects h4 {
  font-weight: bold;
}

.project{
  width: 30vw;
  border-radius: 5%;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.6)
}

.footre{
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 30px 50px 25px rgba(0,0,0,0.75);
  color: #ffffff;
  font-family: 'Trebuchet MS';
}

#footre{
  text-align: right;
  margin-right: 1vw;
}

.footre img{
  width: 1.5vw;
  height: 1.5vw;

}